body { 
  background-color: black;
    color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10% 10%;
  text-shadow: #5B67FC 1px 0 10px;
}

.header{
  text-align: center;
  text-decoration: underline dotted;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
  
}

.under-header{
  text-align: center;
  text-shadow: #5B67fC 1px 0 10px;
  font-size: 12px
}


.exp-header {
  
  text-align: center;
  text-transform: Uppercase;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.all-over h4 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.all-over h5 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.all-over h6 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.all-over ul {
  font-size: 12px;
  text-align: left;
  margin: 1;
}

.statefarm h4 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.statefarm h5 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.statefarm h6 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.statefarm ul {
  font-size: 12px;
  text-align: left;
  margin: 0
}
.education h5 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.education h6 {
  font-size: 13px;
  text-align: left;
  margin: 0
}

.education ul {
  font-size: 12px;
  margin: 1
}

.skills ul {
  font-size: 12px;
  text-align: left;
  margin: 0
}

.education-header {
  text-align: center;
  text-transform: Uppercase;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.skills-header {
  text-align: center;
  text-transform: Uppercase;
  color: yellow;
  text-shadow: 1px 1p
}

.free-time-header {
  text-align: center;
  text-transform: Uppercase;
  color: yellow;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.column {
  float: right;
  width: 30%;
  padding: 3px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.footer {
  text-align: center;
  font-size: 10px
}
